@import 'tailwindcss';
@import '../../vendor/tallstackui/tallstackui/css/v4.css';

@source '../views';
@source '../../vendor/tallstackui/tallstackui/**/*.php';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@plugin '@tailwindcss/forms';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary-50: #fff5ed;
    --color-primary-100: #ffe9d5;
    --color-primary-200: #fdcfab;
    --color-primary-300: #fcad75;
    --color-primary-400: #f9762f;
    --color-primary-500: #f75d18;
    --color-primary-600: #e8430e;
    --color-primary-700: #c0300e;
    --color-primary-800: #992813;
    --color-primary-900: #7b2313;
    --color-primary-950: #430e07;
}